// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2023 BayLibre, SAS
 * Author: Jerome Brunet <jbrunet@baylibre.com>
 */

#include "meson-libretech-cottonwood-u-boot.dtsi"

/ {
	smbios {
		compatible = "u-boot,sysinfo-smbios";

		smbios {
			system {
				manufacturer = "libre-computer";
				product = "aml-s905d3-cc";
			};

			baseboard {
				manufacturer = "libre-computer";
				product = "aml-s905d3-cc";
			};

			chassis {
				manufacturer = "libre-computer";
				product = "aml-s905d3-cc";
			};
		};
	};
};
