// SPDX-License-Identifier: GPL-2.0+
/*
 * (C) Copyright 2018-2019 Rockchip Electronics Co., Ltd
 */

#include "rk3328-u-boot.dtsi"
#include "rk3328-sdram-ddr4-1866.dtsi"
/ {
	chosen {
		u-boot,spl-boot-order = "same-as-spl", &spi0, &sdmmc, &emmc;
	};

	config {
		u-boot,spl-payload-offset = <0x28000>; /* @ 384KB */
	};

	smbios {
		compatible = "u-boot,sysinfo-smbios";

		smbios {
			system {
				manufacturer = "libre-computer";
				product = "roc-rk3328-cc";
			};

			baseboard {
				manufacturer = "libre-computer";
				product = "roc-rk3328-cc";
			};

			chassis {
				manufacturer = "libre-computer";
				product = "roc-rk3328-cc";
			};
		};
	};
};

&gpio0 {
	u-boot,dm-spl;
};

&pinctrl {
	u-boot,dm-spl;
};

&sdmmc0m1_pin {
	u-boot,dm-spl;
};

&pcfg_pull_up_4ma {
	u-boot,dm-spl;
};

/* Need this and all the pinctrl/gpio stuff above to set pinmux */
&vcc_sd {
	u-boot,dm-spl;
};

&spi0 {
        spi_flash: spiflash@0 {
                u-boot,dm-pre-reloc;
        };
};
